.profilePicture{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.pageNumber{
    padding-left: 10px;
}

.selected{
    font-weight: bold;
}

.username{
    font-weight: bold;
    font-size: 1.1em;
}
