.wallpaper{
    width: 995.83px;
    height: 200px;
}

.profilePicture img{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.userName{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 5px;
}

.aboutMe{
    font-style: italic;
    margin-bottom: 5px;
}

.small{
    width: 101px;
    height: 101px;
}

.status{
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.status:hover{
    cursor: pointer;
    background-color: lightskyblue;
}

.info{
    border-top: 4px solid white;
}

.contacts{
    font-weight: bold;
}

.contactItem{
    display: inline-block;
    border-top: 1px solid lightslategray;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-weight: normal;
}