body{
  min-height: 100vh;
}

.darkTheme{
  transition: 0.3s;
  background-color: #232324;
}

.app-wrapper{
  display: grid;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c"
  "n f";

  grid-template-rows: 50px 1fr auto;
  grid-auto-columns: 2fr 10fr ;
  grid-gap: 5px;
}



.app-wrapper > .header{
  grid-area: h;
}

.app-wrapper > .navbar{
  grid-area: n;
}

.app-wrapper > .app-wrapper-content{
  grid-area: c;
  background-color: lightblue;
}

.footer{
  background-color: red;
}

.app-wrapper > .footer{
  grid-area: f;
  background-color: cyan;
  color: white;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  padding-top: auto;
  padding-bottom: auto;
}